body {
	background-color: #c8e8ee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #005868;
}

li {
    float: left;
    font-size: 1.6em;
}

li.bouton_logout {
    float: right;
}

li a {
    display: block;
    color: #D7BDE2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    transform: scale(1.075);
    background-color:#D7BDE2 ;
    color:#005868 ;
    transition: 400ms ease-in-out;
}

a {
    text-align: right;
}

a.boutondeco {
    margin-left: 80%;
    margin-top: 90%;
    text-align: center;
}

p {
    font-size: 30px;
    color:#005868;
}

div.boutondeco  {
    text-align: right;
}

h2.titre{
    color:#005868;
}

h2.titre_inscr{
    text-align: center;
    color: #005868;
}
.compte {
    font-size: 20px;
}

legend {
    color: #005868;
    font-size: 22px;
    text-align: left;
}

fieldset {
    color: #005868;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px; 
    border-color: #005868;
    width: 300px
}

fieldset.score_account {
    float: left;
    text-align: left;
    margin:0 auto; 
    color: #005868;
    border-color: #005868;
    width: 375px;
}

fieldset.fieldset-inscr-content {
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

fieldset.inscr-box2 {
    height: 70px;
}

fieldset.inscr-box3 {
    color: #005868;
    border-color:#005868;
}

input.test {
    margin-left: 25%;
    margin-top: 10%;
    color: #D7BDE2 ;
    text-align: center;
    border-radius: 15px;
    background-color: #005868;
    font-size: 30px;
}

input.pas_compte {
    margin-left: 30%;
    margin-top: 50%;
    color: #D7BDE2 ;
    text-align: center;
    border-radius: 15px;
    background-color: #005868;
    font-size: 30px;
}

input.pas_compte2 {
    margin-left: 60%;
    margin-top: 35%;
    color: #D7BDE2 ;
    text-align: center;
    border-radius: 15px;
    background-color: #005868;
    font-size: 30px;
}

div {
    text-align: center;
}

div.q1 {
    text-align: left;
    display: block;
    color: #D7BDE2;
    background-color: #005868;
    margin-right: 60%;
    margin-bottom: -25px;
}
div.q1v2 {
    text-align: left;
    display: block;
    color: #005868;
    background-color: #D7BDE2;
    margin-right: 60%;
    margin-top: 25px;
    padding:0 auto;
}


div.q2 {
    text-align: center;
    display: block;
    color: #D7BDE2;
    background-color: #005868;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 60%;
    margin-top: 25px;
    padding: 1px ;
}

div.q2v2 {
    text-align: center;
    display: block;
    color: #005868;
    background-color: #D7BDE2;
    margin-right: 60%;
    margin-top: -15px;
    padding: 0.1em ;
}


div.q2v3 {
    justify-content: center;
    display: block;
    color: #005868;
    background-color: #D7BDE2;
    margin-right: 60%;
    margin-top: -15px;
    padding: 0.1em ;
}

div.q6 {
    text-align: center;
    display: block;
    color: #D7BDE2;
    background-color: #005868;
    margin-right: 60%;
    margin-top: 25px;
    padding: 1px ;
}

div.boutondl {
    text-align: right;
    display: block;
}

div.bouton_logout {
    text-align: right;
}

img.kc {
    width: 80%;
    height: 80%;
}


img.boutondl {
    width:35em;
    height:10em;
}

img.bouton_logout {
    text-align: right;
    width:100%;
    height:3%;
}